body{
    margin:15px;
    color: red;
}
h1 {
    margin: 0;
    color:rgb(219, 223, 13);
}
header{
    background-color: black;
}
div{
    width: 50%;
    height: 300px;
    background-color: pink;
    border: 3px solid black;
    

}
