body{
    margin: 0%;
} 
.navbar{
    height:80px;
    background: #9e8383;
    width:100%;
    font-family:monospace;
    justify-content: center;
    font-size:17px;
    padding:1px;
   
  

}

.menu-bar {
    width: 30px;
    height: 25px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    cursor:pointer;
    
    
  }
  
  .menu-bar span {
    display:block;
    height: 4px;
    background-color: #352929;
    border-radius: 2px;
    
  }


  