.section-1{
    width: 50pz;
    height: 500px;
    background-color:rgb(218, 59, 31);
    text-align: left;
} 

@media (max-width: 400px) {
    .section-1{
        font-size: 14px;
        padding: 10px;
        text-align: center;
    }
}